<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.plugin.inappview"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>CordovaInAppView</name>

    <js-module name="CordovaInAppView" src="www/CordovaInAppView.js">
        <clobbers target="cordova.plugins.CordovaInAppView" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaInAppView">
                <param name="ios-package" value="CordovaInAppView" />
            </feature>
        </config-file>
        <source-file src="src/ios/CordovaInAppView.m" />
        <header-file src="src/ios/CordovaInAppView.h" />
        <source-file src="src/ios/WKWebViewController.m" />
        <header-file src="src/ios/WKWebViewController.h" />
    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaInAppView">
                <param name="android-package" value="cordova.plugin.inappview.CordovaInAppView" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity
                android:name="cordova.plugin.inappview.CordovaWebViewImplement"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
                android:screenOrientation="unspecified"
                android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
                android:windowSoftInputMode="adjustResize" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/CordovaInAppView.java"
            target-dir="src/cordova.plugin.inappview" />
        <source-file src="src/android/CordovaWebViewImplement.java"
            target-dir="src/cordova.plugin.inappview" />
        <source-file src="src/android/SharedConstants.java"
            target-dir="src/cordova.plugin.inappview" />
        <source-file src="src/android/res/anim/slide_in_right.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/slide_out_left.xml" target-dir="res/anim" />
        <source-file src="src/android/res/layout/cordova_webview.xml" target-dir="res/layout" />
        <framework src="androidx.appcompat:appcompat:1.3.1" />
        <framework src="androidx.webkit:webkit:1.2.0" />
    </platform>

</plugin>
